<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time to Play</title>
    <script src="/game_script.js" defer></script>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
    </script>
    <h1>Time to Play</h1><br>

    <canvas id="game" width="300" height="400"></canvas>

    <div>
        <ul id="messages"></ul>
        <form action="">
            <input id="m" autocomplete="off" /><button>Send</button>
        </form>
    </div>
</body>
</html>

