body{
    background-color: #5C5C5C;
}

button{
    background-color: #FF0000;
    border-radius: 10px;
}

input{
    border-radius: 10px;

}

table{
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
    text-align: left;
}

.grid-container {
    column-count: 3;
}

#easy, #easyN {
    font-family: sans-serif;
    color: forestgreen;
    font-weight: bolder;
}
#medium, #mediumN {
    font-family: sans-serif;
    color: orangered;
    font-weight: bolder;
}

#hard, #hardN {
    font-family: sans-serif;
    color: crimson;
    font-weight: bolder;
}

.grid-item{
    text-align: center;
}

tr:nth-child(even) {background-color: #f2f2f2;}